@import url('./main-layout.css');
@import url('./views/home-view.css');
@import url('./views/register-view.css');
@import url('./views/login-view.css');
@import url('./views/campaigns-view.css');
@import url('./views/events-view.css');
@import url('./views/encyclopedia-view.css');
@import url('./views/users-view.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('./campaigner-custom.css');

    html {
        --lumo-font-family: DM Sans;
        --lumo-base-color: #bde0ff80;
        --lumo-primary-color: hsl(214, 69%, 30%);
        --lumo-primary-color-50pct: hsla(214, 69%, 30%, 0.5);
        --lumo-primary-color-10pct: hsla(214, 69%, 30%, 0.1);
        --lumo-error-color: hsl(3, 47%, 52%);
        --lumo-error-color-50pct: hsla(3, 47%, 52%, 0.5);
        --lumo-error-color-10pct: hsla(3, 47%, 52%, 0.1);
        --lumo-error-text-color: hsl(3, 70%, 51%);
        --lumo-size-xl: 4rem;
        --lumo-size-l: 3rem;
        --lumo-size-m: 2.5rem;
        --lumo-size-s: 2rem;
        --lumo-size-xs: 1.75rem;
    }
